body {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 95vh;
    margin: 0;
    padding: 24px;
}

.loadingImage {
    display: block;
    position: absolute;
}

.winImage {
    display: none;
    position: absolute;
}

.loseImage {
    display: none;
    position: absolute;
}

.optionButton {
    cursor: pointer;
    width: 100%;
    height: 50%;
    text-align: center;
}

.optionButton:hover {
    background-color: yellow;
}