body {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 95vh;
    margin: 0;
    padding: 24px;
}

.loadingImage {
    display: block;
    position: absolute;
}

.winImage {
    display: none;
}

.loseImage {
    display: none;
}